<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        
        <!-- 主活动 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 项目选择活动 -->
        <activity
            android:name=".ProjectSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 项目详情活动 -->
        <activity
            android:name=".ProjectDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 员工管理活动 -->
        <activity
            android:name=".EmployeeManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 文件管理活动 -->
        <activity
            android:name=".FileManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 待批事项活动 -->
        <activity
            android:name=".PendingItemsActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 已批事项活动 -->
        <activity
            android:name=".ApprovedItemsActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />

        <!-- 进度调整活动 -->
        <activity
            android:name=".ProgressAdjustmentActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />
    </application>

</manifest>